/*#input-box {
    margin:30px;
    font-family:sans-serif;
    font-size:15px;
    border:10px solid black;
    padding:20px;
    }


#speed-display {
    text-align:center;
    font-size:20px;
    background-color:lightgrey;
}

h1 {font-size:30px;
}

#motor-reference{
    margin:150px;
    }
*/
.about-my-slash {
    background-color:lightgray;
    border-style:double;
    font-family:sans-serif;
    font-size:20px;
    padding-left:20px;
    }


.grid-container {
    display:grid;
    grid-template-columns:1fr 1fr;
    grid-gap: 20px;
}
