<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/main.css') }}">

 {% block head %}
    {% endblock %}
</head>
<body>
        <h1 style="text-align:center">Radio-Controlled Car and Truck Speed Estimator</h1>

            <div class="topnav">
                <a class="active" href="{{ url_for('index') }}">Home</a>
                <a href="{{ url_for('about') }}">About My RC Truck</a>
                <!--<a href="{{ url_for('play_time') }}">Play Time</a> -->
                <a href="{{ url_for('poll') }}">Question of the Day</a>
                <a href="{{ url_for('estimator_data') }}">Estimator Data</a>
                <a href="{{ url_for('biography') }}">About the Designer</a>
            </div>



    {% block body %} {% endblock %}
</body>
</html>
