{% extends "base.html" %}

{% block head %}
<title>About the Designer</title>

<style>
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.item1 {
  grid-row-end: span 3;
</style>
{% endblock %}

{% block body %}

<div>
    <div class="grid-container">
        <H1 style="color:white; text-align: center;"> Please take a moment to read about me.</H1>
        <div class="item1">
            <img src="/static/Matt_Kiernan.jpg" alt="Picture of Matt" width="350px" height="400px" border="0">
        </div>

        <div class="item2">
        <p1>I'm going to add more to this later...but I'm busy!</p1>
        </div>

        <div class="item3">
            <p>Here's going to be some more descriptive stuff</p>
        </div>
        <div class="item4">
            <p>Another item will be here</p>
        </div>

        <div class="item 5">
            <p>Some more neat stuff to come here.</p>
        </div>

        <div class="item6">
            <p>I'm sure there will be another interesting tidbit here, too.</p>
        </div>
    </div>
</div>


{% endblock %}
