{% extends "base.html" %}


{% block head %}

<title>Speed Estimator Data Page</title>

<style>

    /* Static table formatting elements */
table, th, td {
  border: 1px solid black;
  padding: 3px;
  margin: 10px;
  border-spacing: 5px;
  border-collapse: separate;
  outline: 2px solid #9e0000;
}

th {font-weight: bold;}

/* styling for table - create scrollable table with header locked */

table {
  width: 100%;
}

table, td {
  border-collapse: collapse;
}

thead {
  display: table; /* to take the same width as tr */
  width: calc(100% - 17px); /* - 17px = scrollbar width */
}

tbody {
  display: block; /* to enable vertical scrolling */
  max-height: 200px; /* limits the height of table to about header + 7 rows */
  overflow-y: scroll; /* keeps the scrollbar even if it doesn't need it; display purpose */
}

th, td {
  width: 14.28%; /* to enable "word-break: break-all" */
  padding: 5px;
  word-break: break-all; /* 4. */
}

tr {
  display: table; /* display purpose; th's border */
  width: 100%;
  box-sizing: border-box; /* because of the border (Chrome needs this line, but not FF) */
}

td {
  text-align: center;
  border-bottom: none;
  border-left: none;
}

</style>

<script src="sorttable.js"></script>

{% endblock %}


{% block body %}

<h1>Estimator User Input Data</h1>

<table id="user_data" class="sortable">
        <thead>
            <tr>
                <th>Motor kV</th>
                <th>Battery Voltage</th>
                <th>Pinion Gearing</th>
                <th>Spur Gearing</th>
                <th>Differential Gearing</th>
                <th>Wheel Radius</th>
                <th>Speed Estimation</th>
            </tr>
        </thead>

        <tbody>
        {% for item in sql_data %}
        <tr class="{{ loop.cycle('odd', 'even') }}">
            <td> {{ item.motor_kv }}</td>
            <td> {{ item.batt_volt }}</td>
            <td> {{ item.pinion }}</td>
            <td> {{ item.spur }}</td>
            <td> {{ item.final_ratio }}</td>
            <td> {{ item.wheel_rad }}</td>
            <td> {{ item.speed_output }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <div>
        <p style="text-align: center; color: darkblue; font-weight: bold;">
            *This table contains all speed estimation user specifications.
        </p>
    </div>
    <div>
        <iframe src="https://player.vimeo.com/video/559524628?h=bcad57833e" width="360" height="640" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
<p><a href="https://vimeo.com/559524628">20210605_221944.mp4</a> from <a href="https://vimeo.com/user3158321">M J K</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
    </div>
{% endblock %}