{% extends "base.html" %}


{% block head %}

<title>Speed Estimator Data Page</title>

<style>
    /* Static table formatting elements */
table, th, td {
  border: 1px solid black;
  padding: 3px;
  margin: 10px;
  border-spacing: 5px;
  border-collapse: separate;
  outline: 2px solid #9e0000;
}
th {font-weight: bold;}
</style>

<script src="sorttable.js"></script>

{% endblock %}


{% block body %}

<h1>Estimator User Input Data</h1>

<table id="user_data" class="sortable">
        <thead>
            <tr>
                <th>Motor kV</th>
                <th>Battery Voltage</th>
                <th>Pinion Gearing</th>
                <th>Spur Gearing</th>
                <th>Differential Gearing</th>
                <th>Wheel Radius</th>
            </tr>
        </thead>

        <tbody>
        {% for item in sql_data %}
        <tr class="{{ loop.cycle('odd', 'even') }}">
            <td> {{ item.motor_kv }}</td>
            <td> {{ item.batt_volt }}</td>
            <td> {{ item.pinion }}</td>
            <td> {{ item.spur }}</td>
            <td> {{ item.final_ratio }}</td>
            <td> {{ item.wheel_rad }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}