{% extends "base.html" %}

{% block head %}
<title>Super Secret Hidden Page</title>
{% endblock %}

{% block body %}
<div>
    <body>
        <h1>If you are reading this, then you know the secret to fun is 4x4 RC!</h1>
        <img src="https://i.ibb.co/9rmKbxT/20201227-134602.jpg" alt="20201227-134602" border="0">
    </body>
</div>

<div class="about-my-slash">
    <h2>My Traxxas Slash 4x4</h2>
    <p>
        This is my Sl4sh.  As pictured, it's a mostly stock brushed 4x4.  Here's what I have pictured:<br>
        Aftermarket body shell from Amazon <a href="https://www.amazon.com/SummitLink-Compatible-Replacement-Included-SS-FS-01/dp/B07F7LSX16/ref=sr_1_17?dchild=1&keywords=slash+4x4+body&qid=1617021995&sr=8-17"><em>Summitlink USA Flag Shell</em></a><br>
        I've also replaced all four corners with Traxxas GTR shocks- <a href="https://www.amainhobbies.com/traxxas-gtr-long-hard-anodized-shocks-w-tinitride-shafts-2-tra7461x/p248574">GTR Shocks for front</a>  --------   <a href="https://www.amainhobbies.com/traxxas-gtr-xxlong-hard-anodized-shocks-2-rear-tra7462x/p248575">GTR Shocks for rear</a><br>
        After breaking a stock A-arm, I upgraded to the heavy duty A-arms- <a href="https://traxxas.com/products/parts/3655R"></a><br>
        Not pictured - Proline Extended Body Mounts and 2.8 Sand Paw tires for snow and sand bashing!
    </p>
</div>

<div class="about-my-slash">
    <p>Future updates I hope to include:</p>

    <dl>
        <dt>Brushless power upgrade</dt>
        <dd><a href="https://www.amazon.com/Traxxas-Platinum-BRUSHLESS-VELINEON-VXL-3s/dp/B01JF6VZ12">Velineon 3500kV</a></dd>
        <dd><a href="https://www.amazon.com/38010201-Max10-3660SL-4000kV-Brushless/dp/B073D8ZF44/ref=dp_fod_3?pd_rd_i=B073D8ZF44&psc=1">Hobbywing 4000kV</a></dd>
        <dt>XO-1 drive shafts</dt>
        <dd><a href="https://youtu.be/fVVjg2k6Uwg">How to install XO-1 driveshafts</a></dd>
        <dt>Aluminum castors and center drive shaft</dt>
        <dd>-------</dd>
    </dl>

</div>
{% endblock %}