{% extends "base.html" %}

{% block head %}
<title>About My Truck</title>
{% endblock %}

{% block body %}
<div>
    <body>
        <h1>4x4 RC trucks are an excellent hobby to get involved in.</h1>
        <img src="https://i.ibb.co/9rmKbxT/20201227-134602.jpg" alt="20201227-134602" border="0">
    </body>
</div>

<div class="about-my-slash">
    <h2>My Traxxas Slash 4x4</h2>
    <p>
        Above is one iteration of my Sl4sh.<br>
        Aftermarket body shell from Amazon <a href="https://www.amazon.com/SummitLink-Compatible-Replacement-Included-SS-FS-01/dp/B07F7LSX16/ref=sr_1_17?dchild=1&keywords=slash+4x4+body&qid=1617021995&sr=8-17"><em>Summitlink USA Flag Shell</em></a><br><br>

        <img src="/static/broken.jpg" width="100%"><br><br>
        After breaking a stock A-arm, I upgraded to the heavy duty A-arms- <a href="https://traxxas.com/products/parts/3655R"></a><br><br>
        Proline Extended Body Mounts and 2.8 Sand Paw tires for snow and sand bashing, as well as 2.8 Trenchers for beast-mode!
        <img src="/static/tire_selection.jpg" width="100%">
    </p>
</div>

<div class="about-my-slash">
    <p>The Guts</p>
    <p>I custom fabricated quarter inch thick polycarbonate mounting plates to accommodate repositioning the ESC and the receiver box.<br>
        I also used a barrel sander to grind the battery compartment sidewalls to fit two 2S batteries standing on edge.
    </p>
    <img src="/static/guts.jpg" width="100%">
    <dl>
        <dt>Internal components that I've upgraded</dt> <!header -dt >
        <dd>Castle 1415 2400kV brushless paired with Mamba X ESC ----- <a href="https://www.castlecreations.com/en/mamba-x-sct-sensored-25-2v-wp-esc-and-1415-2400kv-combo-010-0160-00">Castle Creations</a></dd> <!tabbed-in list item - dd>
        <dd>Tekno Big Bone center driveshaft and outdrives ----- <a href="https://www.teknorc.com/shop/tkr6855-big-bone-center-driveshaft-and-outdrives-slash-4x4/">Tekno RC</a></dd>
        <dd>Traxxas GTR shocks- <a href="https://www.amainhobbies.com/traxxas-gtr-long-hard-anodized-shocks-w-tinitride-shafts-2-tra7461x/p248574">GTR Shocks for front</a>  --------   <a href="https://www.amainhobbies.com/traxxas-gtr-xxlong-hard-anodized-shocks-2-rear-tra7462x/p248575">GTR Shocks for rear</a><br></dd>
        <dd>Homemade serial XT60 adapter for 4S power</dd>
        <dd>Zeee 2S LiPO batteries (surprisingly high quality and low cost!) ----- <a href="https://www.amazon.com/Zeee-Batteries-Dean-Style-Connector-Vehicles/dp/B076Z778MJ/ref=asc_df_B076Z778MJ/?tag=hyprod-20&linkCode=df0&hvadid=312111912863&hvpos=&hvnetw=g&hvrand=10673949043635549763&hvpone=&hvptwo=&hvqmt=&hvdev=c&hvdvcmdl=&hvlocint=&hvlocphy=9014977&hvtargid=pla-571251577875&psc=1">Amazon.com</a></dd>
    </dl>

    <H2>Here are a couple more pictures of different iterations of my truck</H2>
    <img src="/static/trenchers.jpg" width="100%">
    <img src="/static/with_snow_tires.jpg" width="100%">
</div>
{% endblock %}