{% extends "base.html" %}

{% block head %}
<title>Speed Estimator</title>
{% endblock %}

{% block body %}
    <div class="grid-container">
        <div class="grid-child" style="border:solid 2px; padding: 20px;">
            <h1 style="text-align: center">Please fill in the following specifications</h1>
                <!--<h2 style="text-align: center">Example: 4S Slash 4x4 running 2400kV motor, 16.8V, 16/54 pin/spur, 3.92 reduction from differential.</h2>-->

            <form action="/" method="POST">
                <label for="motorkV">Motor kV Rating:</label>
                <input class="user_input" type="number" id="motorkV" name="motorkV"><br><br>

                <label for="battVolt">Battery Voltage:</label>
                <input class="user_input" type="number" id="battVolt" name="battVolt" step="0.01"><br><br>

                <label for="pinion">Pinion Gear Tooth Count:</label>
                <input class="user_input" type="number" id="pinion" name="pinion"><br><br>

                <label for="spur">Spur Gear Tooth Count:</label>
                <input class="user_input" type="number" id="spur" name="spur"><br><br>

                <label for="fgr">Final Gear Ratio (differential ratio?):</label>
                <input class="user_input" type="number" id="fgr" name="fgr" step="0.01"><br><br>

                <label for="wheelradius">Wheel Radius (inches):</label>
                <input class="user_input" type="number" id="wheelradius" name="wheelradius" step="0.01"><br><br>

                <input type="submit" value="Calculate">
            </form>
        </div>
        <div class="grid-child">
            <img src="/static/SpeedLimit.jpg">
        </div>

        <div class="callout">
            <div class="callout-header">Please fill out the form to estimate speed.</div>
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            <div class="callout-container">
                <p>Example: 4S Slash 4x4 running 2400kV motor, 16.8V, 16/54 pin/spur, 3.92 reduction from differential.</p>
            </div>
</div>


    <div id="speed-display" style="border: double red; width: 250px; height: 150px; padding: 40px;">
         <p>Calculated Speed</p>

         <p style="font-size:35px; color:red;">{{ speed_display }}</p>

    </div>

    <div id="motor-reference">
        <h3>
        If you need a reference for brushed motor kV ratings, click here for Hobbywing's research:
        </h3>
        <a href="http://www.hobbywing.com/products/enpdf/KVen.pdf" target="_blank">Hobbywing Brushed Motor Specification PDF</a>
    </div>

    </div>
{% endblock %}