{% extends "base.html" %}

{% block head %}
<title>Play Time</title>
<style>
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  background-color: #000099;
  padding: 10px;
}

.grid-container > div {
  background-color: rgb(0, 94, 128);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.grid-container-2up {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
  background-color: #000099;
  padding: 10px;
}

.item1 {
  grid-row-end: span 3;

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: black;
  text-align: center;
}
.wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.wrapper > div {
  flex: auto auto auto;
}

</style>
{% endblock %}

{% block body %}

<H1 style="text-align: center;">
  Videos of My Truck In Action
</H1>

<div class="grid-container">
  <div>
    <iframe src="https://www.youtube.com/embed/X0a5LLkdTso" width="360" height="640"></iframe>
  </div>

  <div>
    <iframe src="https://www.youtube.com/embed/ihIimSFzvnk" width="360" height="640"></iframe>
  </div>

  <div>
    <iframe src="https://www.youtube.com/embed/Teh77lMcroQ" width="360" height="640"></iframe>
  </div>

</div>


<!-- Container for the image gallery -->
<div class="grid-container-2up">

  <div>
      <img src="/static/frosty.jpg" style="padding-left:75px">
  </div>

  <div>
      <img src="/static/double_battery.jpg" style="">
  </div>

  <div style="width:720px">
      <img src="/static/broken_leg.jpg" style="padding-left:50px">
      <img src="/static/front_assembly.jpg" style="padding-left:25px">
  </div>

  <div>
      <img src="/static/snow_pose.jpg" style="">
  </div>

  <div>
      <img src="/static/front_assembly_front.jpg" style="width:720px">
  </div>
  <div style="background-color:rgb(0, 94, 128); padding:10px;">
    <h3 style="text-align:center; color:red;">
      Image Descriptions
    </h3>
    <p style="color:white; font-weight:bold">
      Top left: snow accumulation inside of body.<br>
      Top right: modified internals (sanded battery compartment to accommodate dual-battery).<br><br>
      Middle left: crash damage -- broken shock-shaft.<br>
      Middle middle: upgraded front steering to blue aluminium tubes and heavier turnbuckles.<br>
      Middle right: truck posed in the snow at local decommissioned quarry.<br><br>
      Bottom left: better view of new front suspension and steering.
    </p>
  </div>

</div>



{% endblock %}
